/* To initialise the Poppins font. */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* To set static color value. */
:root {
    --primary: #F73718;
    --light: #F6F7F8;
    --dark: #11181d;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    height: 500vh;
    background: url("/Images/background.png") rgba(0, 0, 0, 1.5);
    background-blend-mode: multiply;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

/* This is the toppest Black Bar. */
.info-bar {
    padding: 10px 50px;
    background-color: var(--dark);
    color: var(--light);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* sizing and aligning the two edges. */
.info-bleft,
.info-bright {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 13px;
}

.info-bleft {
    width: 440px;
}

.info-bright {
    width: 380px;
}

/* Customising the Dropdown. */
.text-drop a {
    color: var(--light);
    text-decoration: none;
}

.drop-bg a {
    transition: 0.25s all ease-in-out;
}

.drop-bg a:hover {
    color: var(--light);
    background-color: var(--primary);
}

.info-btext {
    font-size: 12px;
    text-align: center;
    padding-left: 5px;
}

/* Responsive Navbar */
@media (max-width: 991px) {
    .info-bar {
        display: none
    }

    #offcanvasNavbar {
        background-color: rgba(255, 255, 255, .15);
        backdrop-filter: blur(10px);
    }
}
/* 
@media (min-width: 992px) {
    #resp-text ul li a {
        color: #000;
    }
} */